<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon fix -->
        <link rel="shortcut icon" href="#">

        <!-- Import CSS -->
        <link href="/css/normalize.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">

        <!-- Import Google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet" type="text/css"> 

        <!-- Page Title -->
        <title>{{title}}</title>
        <link href="/images/lolol.png" rel="shortcut icon" type="image/png">
    </head>

        <header>
        <nav class="navbar">
            <input type="checkbox" id="toggle"/>
            <div class="hamburger"><div></div></div>
            <div class="mainNav">
                <div>
                    <div>
                        <ul class="navLi">
                            <li><a href="/">Home</a></li> 
                            <li><a href="/all_sets">All Sets</a></li>
                        </ul>
                        <ul class="navRight">
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="https://github.com/Diaresta/DRAFTBOYS" target="_blank">GitHub</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
        <img id="pageTitle" src="/images/logoGrad1.png" alt="Page Title" type="image/png">
    </header>

    {{{body}}}

    <footer>
        <p class="rightsReserved">Magic: The Gathering and its logos are trademarks of Wizards of the Coast LLC, subsidiary of Hasbro, Inc. DRAFTBOYS is not approved, endorsed, or affiliated with/by Wizards of the Coast.
        <br>&copy; 2020 DRAFTBOYS. All rights reserved.</p>
    </footer>

</html>


<!-- Add meta tags for SEO, Script tags -->
<!-- When Drafting, Main deck/"Chosen Cards" where chosen cards go. Oder by when they were push() onto array, CMC, Colors -->
<!-- Node vs React for js -->

    
      