<body>
    <header>
        <nav class="navbar">
            <input type="checkbox" id="toggle"/>
            <div class="hamburger"><div></div></div>
            <div class="mainNav">
                <div>
                    <div>
                        <ul class="navLi">
                            <li><a href="index.html">Home</a></li> 
                            <li><a href="views/all-sets.html">All Sets</a></li>
                        </ul>
                        <ul class="navRight">
                            <li><a href="/static/views/contact.html">Contact</a></li>
                            <li><a href="https://github.com/Diaresta/DRAFTBOYS" target="_blank">GitHub</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
        <img id="pageTitle" src="images/logoGrad1.png">
    </header>

    <main>
        <h2 id="selectSet">Select a Set</h2>
        <div id="setCarousel">
            <ul>
                <li class="setList">
                    <img class="setPhoto" src="https://media.magic.wizards.com/an88plk2cb.jpg" alt="Zendikar Rising" type="image/jpeg">
                    <a class="setTitle" href="/static/views/draft.html">Zendikar Rising</a>
                </li>
                <li class="setList">
                    <img class="setPhoto" src="https://media.wizards.com/2020/images/magic/m21/latest/ef4Adw2dmz.jpg" alt="Core 2021" type="image/jpeg">
                    <a class="setTitle" href="#">Core 2021</a>
                </li>
                <li class="setList">
                    <img class="setPhoto" src="https://media.wizards.com/2020/images/magic/latest/Az7kArRzvO.jpg" alt="Ikoria: Lair of the Behemoths" type="image/jpeg">
                    <a class="setTitle" href="#">Ikoria: Lair of Behemoths</a>
                </li>
                <li class="setList">
                    <img class="setPhoto photoWrap" src="https://media.magic.wizards.com/umaxp47wn2_0.jpg" alt="Theros Beyond Death" type="image/jpeg">
                    <a class="setTitle" href="#">Theros Beyond Death</a>    
                </li>
                <li class="setList">
                    <img class="setPhoto" src="https://media.magic.wizards.com/zIgBmBBhIA_0.jpg" alt="Throne of Eldraine" type="image/jpeg">
                    <a class="setTitle" href="#">Throne of Eldraine</a>
                </li>
            </ul>
            <a class="prevArrow carouselArrows" onclick="plusSlides(-1)">&#10094;</a>
            <a class="nextArrow carouselArrows" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </main>
    <footer>
        <p class="rightsReserved">Magic: The Gathering and its logos are trademarks of Wizards of the Coast LLC, subsidiary of Hasbro, Inc. DRAFTBOYS is not approved, endorsed, or affiliated with/by Wizards of the Coast.
        <br>&copy; 2020 DRAFTBOYS. All rights reserved.</p>
    </footer>
    <script src="scripts/window.js"></script>
</body>