<body>
    <main>
        <img id="error-img" alt="404 Error Image">
        <p id="error-p">Why not start back at the <a id="error-a" href="/home">homepage</a>?</p>
    </main>
    <script src="/scripts/404-error.js"></script>
</body>