<body>
    <main>
        <h2 id="selectSet">All Sets</h2>

        <h3 class="format-title">Standard</h3>
        <ul id="all-sets-ul">
            <li class="all-sets-li">Strixhaven - <a href="#">&nbsp;Coming Soon!</a></li>
            <li class="all-sets-li">Kaldheim - <a href="draft/khm">&nbsp;Draft</a></li>
            <li class="all-sets-li">Zendikar Rising - <a href="draft/znr">&nbsp;Draft</a></li>
            <li class="all-sets-li">Core 2021 - <a href="draft/m21">&nbsp;Draft</a></li>
            <li class="all-sets-li">Ikoria: Lair of Behemoths - <a href="draft/iko">&nbsp;Draft</a></li>
            <li class="all-sets-li">Theros Beyond Death - <a href="draft/thb">&nbsp;Draft</a></li>
            <li class="all-sets-li">Throne of Eldraine - <a href="draft/eld">&nbsp;Draft</a></li>
        </ul>
        <h3 class="format-title">Eternal</h3>
    </main>
    <script></script>
</body>