<body>
    <main>
        <img src="/images/error-images/error.png" id="error-img" alt="Error Image">
        <p id="error-p">Why not start back at the <a id="error-a" href="/home">homepage</a>?</p>
    </main>
</body>