<body>
    <main>
        <h2 id="select-set">Select a Set</h2>
        <div id="set-carousel">
            <ul>
                <li class="set-list">
                    <img class="set-photo" src="https://media.magic.wizards.com/fpcbrbmyse_1200x600_still.jpg"
                        alt="Kaldheim" type="image/jpeg">
                    <a class="set-title" href="draft/khm">Kaldheim</a>
                </li>
                <li class="set-list">
                    <img class="set-photo" src="https://media.magic.wizards.com/an88plk2cb.jpg" alt="Zendikar Rising"
                        type="image/jpeg">
                    <a class="set-title" href="draft/znr">Zendikar Rising</a>
                </li>
                <li class="set-list">
                    <img class="set-photo" src="https://media.wizards.com/2020/images/magic/m21/latest/ef4Adw2dmz.jpg"
                        alt="Core 2021" type="image/jpeg">
                    <a class="set-title" href="draft/m21">Core 2021</a>
                </li>
                <li class="set-list">
                    <img class="set-photo" src="https://media.wizards.com/2020/images/magic/latest/Az7kArRzvO.jpg"
                        alt="Ikoria: Lair of the Behemoths" type="image/jpeg">
                    <a class="set-title" href="draft/iko">Ikoria: Lair of Behemoths</a>
                </li>
                <li class="set-list">
                    <img class="set-photo photoWrap" src="https://media.magic.wizards.com/umaxp47wn2_0.jpg"
                        alt="Theros Beyond Death" type="image/jpeg">
                    <a class="set-title" href="draft/thb">Theros Beyond Death</a>
                </li>
                <li class="set-list">
                    <img class="set-photo" src="https://media.magic.wizards.com/zIgBmBBhIA_0.jpg"
                        alt="Throne of Eldraine" type="image/jpeg">
                    <a class="set-title" href="draft/eld">Throne of Eldraine</a>
                </li>
            </ul>
            <a class="prev-arrow carousel-arrows" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next-arrow carousel-arrows" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </main>
    <script src="scripts/window.js"></script>
</body>