<body>
    <main>
        <h2 id="select-set">Select a Set</h2>
        <div id="set-carousel">
            <ul>
                <li class="set-list">
                    <img class="set-photo" src="https://images.ctfassets.net/s5n2t79q9icq/7qrlYjGhRqnkhvWa5F0kzK/3345e908f23417470444b7244f830fd0/NomjY322Ct_1920x700.jpg?q=70&w=1920&h=700&fit=crop&f=center&fm=webp"
                        alt="Kamigawa: Neon Dynasty" type="image/jpeg">
                    <a class="set-title" href="draft/neo">Kamigawa: Neon Dynasty</a>
                </li>
                  <li class="set-list">
                    <img class="set-photo" src="https://images.ctfassets.net/s5n2t79q9icq/6fWi3fudqsRCsU8nbqSg9t/7b65de31484336b0434ea1d71d0541b2/81sMYohEcw_1920x700.jpg?q=70&w=1920&h=700&fit=crop&f=center&fm=webp"
                        alt="Innistrad: Crimson Vow" type="image/jpeg">
                    <a class="set-title" href="draft/vow">Innistrad: Crimson Vow</a>
                </li>
                <li class="set-list">
                    <img class="set-photo" src="https://images.ctfassets.net/s5n2t79q9icq/3L6vg84WYNL0ZH3sllTnPo/d27880f54fb171ade2ae20749b81c471/8agUSzzLgI_1920x700.jpg?q=70&w=1920&h=700&fit=crop&f=center&fm=webp"
                        alt="Innistrad: Midnight Hunt" type="image/jpeg">
                    <a class="set-title" href="draft/mid">Innistrad: Midnight Hunt</a>
                </li>
                <li class="set-list">
                    <img class="set-photo" src="https://images.ctfassets.net/s5n2t79q9icq/66EtzNi9GUPoPBWqRP9O5U/d554f20a15b5db8c4e32212347bc5e32/afr-bg.jpg"
                        alt="Adventures in the Forgotten Realms" type="image/jpeg">
                    <a class="set-title" href="draft/afr">Adventures in the Forgotten Realms</a>
                </li>
                <li class="set-list">
                    <img class="set-photo" src="https://media.magic.wizards.com/ytvrwjvafq.jpg"
                        alt="Strixhaven" type="image/jpeg">
                    <a class="set-title" href="draft/stx">Strixhaven</a>
                </li>
                <li class="set-list">
                    <img class="set-photo" src="https://media.magic.wizards.com/fpcbrbmyse_1200x600_still.jpg"
                        alt="Kaldheim" type="image/jpeg">
                    <a class="set-title" href="draft/khm">Kaldheim</a>
                </li>
                <li class="set-list">
                    <img class="set-photo" src="https://media.magic.wizards.com/an88plk2cb.jpg" alt="Zendikar Rising"
                        type="image/jpeg">
                    <a class="set-title" href="draft/znr">Zendikar Rising</a>
                </li>
                {{!-- <li class="set-list">
                    <img class="set-photo" src="https://media.wizards.com/2020/images/magic/m21/latest/ef4Adw2dmz.jpg"
                        alt="Core 2021" type="image/jpeg">
                    <a class="set-title" href="draft/m21">Core 2021</a>
                </li>
                <li class="set-list">
                    <img class="set-photo" src="https://media.wizards.com/2020/images/magic/latest/Az7kArRzvO.jpg"
                        alt="Ikoria: Lair of the Behemoths" type="image/jpeg">
                    <a class="set-title" href="draft/iko">Ikoria: Lair of Behemoths</a>
                </li>
                <li class="set-list">
                    <img class="set-photo photoWrap" src="https://media.magic.wizards.com/umaxp47wn2_0.jpg"
                        alt="Theros Beyond Death" type="image/jpeg">
                    <a class="set-title" href="draft/thb">Theros Beyond Death</a>
                </li>
                <li class="set-list">
                    <img class="set-photo" src="https://media.magic.wizards.com/zIgBmBBhIA_0.jpg"
                        alt="Throne of Eldraine" type="image/jpeg">
                    <a class="set-title" href="draft/eld">Throne of Eldraine</a>
                </li> --}}
            </ul>
            <a class="prev-arrow carousel-arrows" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next-arrow carousel-arrows" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </main>
    <script src="scripts/window.js"></script>
</body>