<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import CSS -->
        <link href="/static/css/normalize.css" rel="stylesheet" type="text/css">
        <link href="/static/css/styles.css" rel="stylesheet" type="text/css">

        <!-- Import Google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet" type="text/css"> 

        <!-- Page Title -->
        <title>DRAFTBOYS - MTG Draft Simulator</title>
        <link href="/static/images/lolol.png" rel="shortcut icon" type="image/png">
    </head>

    <body>
        <header>
            <nav class="navbar">
                <input type="checkbox" id="toggle"/>
                <div class="hamburger"><div></div></div>
                <div class="mainNav">
                    <div>
                        <div>
                            <ul class="navLi">
                                <li><a href="/static/index.html">Home</a></li> 
                                <li><a href="/static/views/all-sets.html">All Sets</a></li>
                            </ul>
                            <ul class="navRight">
                                <li><a href="/static/views/contact.html">Contact</a></li>
                                <li><a href="https://github.com/Diaresta/DRAFTBOYS" target="_blank">GitHub</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </nav>
            <img id="pageTitle" src="/static/images/logoGrad1.png" alt="Page Title" type="image/png">
        </header>

        <main>
            <h2 id="selectSet">All Sets</h2>
            
            <h3 class="format-title">Standard</h3>
            <ul id="all-sets-ul">
                <li class="all-sets-li">Kaldheim - <a href=#"">&nbsp;Coming Soon!</a></li>
                <li class="all-sets-li">Zendikar Rising - <a href="draft.html">&nbsp;Draft</a></li>
                <li class="all-sets-li">Core 2021 - <a href="#">&nbsp;Draft</a></li>
                <li class="all-sets-li">Ikoria: Lair of Behemoths - <a href="#">&nbsp;Draft</a></li>
                <li class="all-sets-li">Theros Beyond Death - <a href="#">&nbsp;Draft</a></li>
                <li class="all-sets-li">Throne of Eldraine - <a href="#">&nbsp;Draft</a></li>
            </ul>
            <h3 class="format-title">Eternal</h3>


        </main>
        <footer>
            <p class="rightsReserved">Magic: The Gathering and its logos are trademarks of Wizards of the Coast LLC, subsidiary of Hasbro, Inc. DRAFTBOYS is not approved, endorsed, or affiliated with/by Wizards of the Coast.
            <br>&copy; 2020 DRAFTBOYS. All rights reserved.</p>
        </footer>
        <!-- <script src="/scripts/window.js"></script> -->
        <script src="/static/scripts/draft.js"></script>
    </body>
</html>

    
      