body {
    background-color: #1c1e21;
    color: #ccc;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
}

li {
    /* maybe switch to block and make js hamburger dropdown */
    display: inline-block;
    list-style-type: none;
    padding-right: 5px;
    font-weight: bold;
}

li:hover {
    color: #65b3ba;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    color: #65b3ba;
}

header {
    display: inline;
}

footer { 
    margin-top: auto;
    flex: 0 0 50px;
}

#pageTitle {
    height: 60px;
    margin-top: -34px;
}

#setCarousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar {
    list-style-type: none;
    text-align: left;
    /* width: 33%; */
}

.navLi {
    margin-left: -10px;
}

.navRight {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 25px;
}

.setList {
    position: relative;
    text-align: center;
}

.setList:hover {
    transition: 0.3s ease;
    opacity: 0.5;
}

.setPhoto {
    height: 350px;
    width: 210px;
    object-fit: cover;
    display: inline-block;
    padding: 5px;
    position: relative;
}

.setPhoto:hover + .setTitle { 
    opacity: 1;
}

.setTitle {
    font-size: 1.5rem !important;
    color: #65b3ba;
    opacity: 0;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px #000;
}

.setTitle:hover {
    opacity: 1;
}

.carouselArrows {
    display: none;
}

.prevArrow:hover, .nextArrow:hover {
    background-color: rgba(0,0,0,0.4);
}

.prevArrow, .nextArrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px; 
    /* maybe <16px 10px;*/
    color: #ccc;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.nextArrow {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prevArrow {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.rightsReserved {
    font-size: .5rem;
}

@media (max-width: 1182px) {
    #setCarousel {
        /* width: 952px; */
    }

    .photoWrap {
        /* maybe use this instead? if not remove this class from li */
    }
}

@media (max-width: 850px) {
    .setTitle {
        opacity: 1;
        /* cursor: pointer; */
    }
}

@media (max-width: 723px) {
    /* maybe 605px?? */
    /* make image carousel */
    #setCarousel {
        max-width: 300px;
        position: relative;
        margin: auto;
    }

    .setPhoto {
        margin-right: 35px;
    }

    .setTitle {
        /* cursor: pointer; */
        padding-right: 35px;
    }

    .carouselArrows {
        display: inline-flex;
    }
}