body {
    background-color: #1c1e21;
    color: #ccc;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

ul {
}

li {
    /* maybe switch to block and make js hamburger dropdown */
    display: inline-block;
    list-style-type: none;
    padding-right: 5px;
    font-weight: bold;
}

li:hover {
    color: #65b3ba;
}

header {
    display: inline;
}

footer { 
    position: absolute;
    bottom: 0;
    width: 100%;
}

#pageTitle {
    height: 60px;
}

#setCarousel {
    display: flex;
    justify-content: center;
}

.navbar {
    list-style-type: none;
    text-align: left;
    width: 33%;
}

.setPhoto {
    height: 350px;
    width: 210px;
    object-fit: cover;
    display: inline-block;
    padding: 5px;
    position: relative;
}

.setPhoto:hover {
    transition: 0.3s ease;
    opacity: 0.5;
}

.setPhoto:hover + .setTitle { 
    opacity: 1;
}

.setTitle {
    opacity: 0;;
    position: absolute;
    display: flex;
    font-size: 1rem;
}

.setTitle:hover {
    opacity: 1;
}

.rightsReserved {
    font-size: .5rem;
}