<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import CSS -->
        <link href="/static/normalize.css" rel="stylesheet" type="text/css">
        <link href="/static/styles.css" rel="stylesheet" type="text/css">

        <!-- Import Google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet" type="text/css"> 

        <!-- Page Title -->
        <title>DRAFTBOYS - MTG Draft Simulator</title>
        <link href="/static/lolol.png" rel="shortcut icon" type="image/png">
    </head>

    <body>
        <header>
            <nav class="navbar">
                <input type="checkbox" id="toggle"/>
                <div class="hamburger"><div></div></div>
                <div class="mainNav">
                    <div>
                        <div>
                            <ul class="navLi">
                                <li><a href="index.html">Home</a></li> 
                                <li><a href="#">All Sets</a></li>
                            </ul>
                            <ul class="navRight">
                                <li><a href="#">Contact</a></li>
                                <li><a href="https://github.com/Diaresta/DRAFTBOYS" target="_blank">GitHub</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </nav>
            <img id="pageTitle" src="/static/logoGrad1.png" alt="Page Title" type="image/png">
        </header>

        <main>
            <div id="cardContainer"></div>
        </main>
        <footer>
            <p class="rightsReserved">Magic: The Gathering and its logos are trademarks of Wizards of the Coast LLC, subsidiary of Hasbro, Inc. DRAFTBOYS is not approved, endorsed, or affiliated with/by Wizards of the Coast.
            <br>&copy; 2020 DRAFTBOYS. All rights reserved.</p>
        </footer>
        <script src="/scripts/app.js"></script>
    </body>
</html>

    
      